@charset "utf-8";
/* CSS Document */

/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////// TIPOGRAF�AS ////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@font-face {
	font-family: 'fuente1';
	src: url('../css/fonts/OpenSans-Regular-webfont.eot');
	src: url('../css/fonts/OpenSans-Regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../css/fonts/OpenSans-Regular-webfont.woff') format('woff'),
		url('../css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		url('../css/fonts/OpenSans-Regular-webfont.svg#open_sansregular')
		format('svg');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'fuente1';
	src: url('../css/fonts/OpenSans-Italic-webfont.eot');
	src: url('../css/fonts/OpenSans-Italic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../css/fonts/OpenSans-Italic-webfont.woff') format('woff'),
		url('../css/fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
		url('../css/fonts/OpenSans-Italic-webfont.svg#open_sansitalic')
		format('svg');
	font-weight: normal;
	font-style: italic
}

@font-face {
	font-family: 'fuente1';
	src: url('../css/fonts/OpenSans-Bold-webfont.eot');
	src: url('../css/fonts/OpenSans-Bold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../css/fonts/OpenSans-Bold-webfont.woff') format('woff'),
		url('../css/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
		url('../css/fonts/OpenSans-Bold-webfont.svg#open_sansbold')
		format('svg');
	font-weight: bold;
	font-style: normal
}

@font-face {
	font-family: 'fuente1';
	src: url('../css/fonts/OpenSans-BoldItalic-webfont.eot');
	src: url('../css/fonts/OpenSans-BoldItalic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../css/fonts/OpenSans-BoldItalic-webfont.woff') format('woff'),
		url('../css/fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
		url('../css/fonts/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic')
		format('svg');
	font-weight: bold;
	font-style: italic
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////// TIPOGRAF�AS ////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
@font-face {
	font-family: 'fuente2';
	src: url('../css/fonts/Aleo-Regular-webfont.eot');
	src: url('../css/fonts/Aleo-Regular-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../css/fonts/Aleo-Regular-webfont.woff') format('woff'),
		url('../css/fonts/Aleo-Regular-webfont.ttf') format('truetype'),
		url('../css/fonts/Aleo-Regular-webfont.svg#open_sansregular')
		format('svg');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'fuente2';
	src: url('../css/fonts/Aleo-Italic-webfont.eot');
	src: url('../css/fonts/Aleo-Italic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../css/fonts/Aleo-Italic-webfont.woff') format('woff'),
		url('../css/fonts/Aleo-Italic-webfont.ttf') format('truetype'),
		url('../css/fonts/Aleo-Italic-webfont.svg#open_sansitalic')
		format('svg');
	font-weight: normal;
	font-style: italic
}

@font-face {
	font-family: 'fuente2';
	src: url('../css/fonts/Aleo-Bold-webfont.eot');
	src: url('../css/fonts/Aleo-Bold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../css/fonts/Aleo-Bold-webfont.woff') format('woff'),
		url('../css/fonts/Aleo-Bold-webfont.ttf') format('truetype'),
		url('../css/fonts/Aleo-Bold-webfont.svg#open_sansbold') format('svg');
	font-weight: bold;
	font-style: normal
}

@font-face {
	font-family: 'fuente2';
	src: url('../css/fonts/Aleo-BoldItalic-webfont.eot');
	src: url('../css/fonts/Aleo-BoldItalic-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../css/fonts/Aleo-BoldItalic-webfont.woff') format('woff'),
		url('../css/fonts/Aleo-BoldItalic-webfont.ttf') format('truetype'),
		url('../css/fonts/Aleo-BoldItalic-webfont.svg#open_sansbold_italic')
		format('svg');
	font-weight: bold;
	font-style: italic
}

/** Copyright 2009-2013 PrimeTek.** Licensed under PrimeFaces Commercial License, Version 1.0 (the "License");* you may not use this file except in compliance with the License.* You may obtain a copy of the License at** http://www.primefaces.org/elite/license.xhtml** Unless required by applicable law or agreed to in writing, software* distributed under the License is distributed on an "AS IS" BASIS,* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.* See the License for the specific language governing permissions and* limitations under the License.*/

/* Component containers----------------------------------*/
.ui-widget {
	font-size: 1.1em;
}

.ui-widget .ui-widget {
	font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: Segoe UI, Arial, sans-serif;
	font-size: 1em;
}

.ui-widget-content {
	border: 1px solid #7AC142;
	background: #FFFFFF;
	color: #525252;
}

.ui-widget-content a {
	color: #525252;
}

.ui-widget-header {
	border: 1px solid #7AC142;
	background: #7AC142;
	color: #FFFFFF;
	font-weight: bold;
}

.ui-widget-header a {
	color: #ffffff;
}
/* Interaction states----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border: 1px solid #D4D4D4;
	background: #D4D4D4;
	font-weight: bold;
	color: #525252;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited
	{
	color: #525252;
	text-decoration: none;
}

/* .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{ border:1px solid #66B3FF; background:#66B3FF;
	font-weight: normal; color:#FFFFFF;
} */

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link,
	.ui-state-hover a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	border: 1px solid #7AC142;
	background: #7AC142;
	font-weight: bold;
	color: #FFFFFF;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited
	{
	color: #ffffff;
	text-decoration: none;
}
/* Interaction Cues----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	border: 1px solid #cccccc;
	background: #FFC40D;
	color: #FFFFFF;
}

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,
	.ui-widget-header .ui-state-highlight a {
	color: #FFFFFF;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error
	{
	border: 1px solid #C31D1D;
	background: #C31D1D;
	color: #FFFFFF;
}

.ui-state-error a, .ui-widget-content .ui-state-error a,
	.ui-widget-header .ui-state-error a {
	color: #FFFFFF;
}

.ui-state-error-text, .ui-widget-content .ui-state-error-text,
	.ui-widget-header .ui-state-error-text {
	color: #FFFFFF;
}

.ui-priority-primary, .ui-widget-content .ui-priority-primary,
	.ui-widget-header .ui-priority-primary {
	font-weight: bold;
}

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,
	.ui-widget-header .ui-priority-secondary {
	opacity: .7;
	filter: Alpha(Opacity = 70);
	font-weight: normal;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled,
	.ui-widget-header .ui-state-disabled {
	opacity: .50;
	filter: Alpha(Opacity = 50);
	background-image: none;
}

.ui-state-disabled .ui-icon {
	filter: Alpha(Opacity = 35); /* For IE8 - See #6059 */
}
/* Icons----------------------------------*/ /* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
}

.ui-icon, .ui-widget-content .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_525252_0.png']}");
}
/* .ui-widget-header .ui-icon { background-image:url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}"); }*/
.ui-widget-header .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_525252_0.png']}");
	margin-top: 4px;
}

.ui-state-default .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_525252_0.png']}");
}

/* .ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
} */

.ui-state-active .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
}

.ui-state-highlight .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
}
/* positioning */
.ui-icon-blank {
	background-position: 16px 16px;
}

.ui-icon-carat-1-n {
	background-position: 0 0;
}

.ui-icon-carat-1-ne {
	background-position: -16px 0;
}

.ui-icon-carat-1-e {
	background-position: -32px 0;
}

.ui-icon-carat-1-se {
	background-position: -48px 0;
}

.ui-icon-carat-1-s {
	background-position: -64px 0;
}

.ui-icon-carat-1-sw {
	background-position: -80px 0;
}

.ui-icon-carat-1-w {
	background-position: -96px 0;
}

.ui-icon-carat-1-nw {
	background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
	background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
	background-position: -144px 0;
}

.ui-icon-triangle-1-n {
	background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
	background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
	background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
	background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
	background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
	background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
	background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
	background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
	background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}

.ui-icon-arrow-4 {
	background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}

.ui-icon-extlink {
	background-position: -32px -80px;
}

.ui-icon-newwin {
	background-position: -48px -80px;
}

.ui-icon-refresh {
	background-position: -64px -80px;
}

.ui-icon-shuffle {
	background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
	background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
	background-position: 0 -96px;
}

.ui-icon-folder-open {
	background-position: -16px -96px;
}

.ui-icon-document {
	background-position: -32px -96px;
}

.ui-icon-document-b {
	background-position: -48px -96px;
}

.ui-icon-note {
	background-position: -64px -96px;
}

.ui-icon-mail-closed {
	background-position: -80px -96px;
}

.ui-icon-mail-open {
	background-position: -96px -96px;
}

.ui-icon-suitcase {
	background-position: -112px -96px;
}

.ui-icon-comment {
	background-position: -128px -96px;
}

.ui-icon-person {
	background-position: -144px -96px;
}

.ui-icon-print {
	background-position: -160px -96px;
}

.ui-icon-trash {
	background-position: -176px -96px;
}

.ui-icon-locked {
	background-position: -192px -96px;
}

.ui-icon-unlocked {
	background-position: -208px -96px;
}

.ui-icon-bookmark {
	background-position: -224px -96px;
}

.ui-icon-tag {
	background-position: -240px -96px;
}

.ui-icon-home {
	background-position: 0 -112px;
}

.ui-icon-flag {
	background-position: -16px -112px;
}

.ui-icon-calendar {
	background-position: -32px -112px;
}

.ui-icon-cart {
	background-position: -48px -112px;
}

.ui-icon-pencil {
	background-position: -64px -112px;
}

.ui-icon-clock {
	background-position: -80px -112px;
}

.ui-icon-disk {
	background-position: -96px -112px;
}

.ui-icon-calculator {
	background-position: -112px -112px;
}

.ui-icon-zoomin {
	background-position: -128px -112px;
}

.ui-icon-zoomout {
	background-position: -144px -112px;
}

.ui-icon-search {
	background-position: -160px -112px;
}

.ui-icon-wrench {
	background-position: -176px -112px;
}

.ui-icon-gear {
	background-position: -192px -112px;
}

.ui-icon-heart {
	background-position: -208px -112px;
}

.ui-icon-star {
	background-position: -224px -112px;
}

.ui-icon-link {
	background-position: -240px -112px;
}

.ui-icon-cancel {
	background-position: 0 -128px;
}

.ui-icon-plus {
	background-position: -16px -128px;
}

.ui-icon-plusthick {
	background-position: -32px -128px;
}

.ui-icon-minus {
	background-position: -48px -128px;
}

.ui-icon-minusthick {
	background-position: -64px -128px;
}

.ui-icon-close {
	background-position: -80px -128px;
}

.ui-icon-closethick {
	background-position: -96px -128px;
}

.ui-icon-key {
	background-position: -112px -128px;
}

.ui-icon-lightbulb {
	background-position: -128px -128px;
}

.ui-icon-scissors {
	background-position: -144px -128px;
}

.ui-icon-clipboard {
	background-position: -160px -128px;
}

.ui-icon-copy {
	background-position: -176px -128px;
}

.ui-icon-contact {
	background-position: -192px -128px;
}

.ui-icon-image {
	background-position: -208px -128px;
}

.ui-icon-video {
	background-position: -224px -128px;
}

.ui-icon-script {
	background-position: -240px -128px;
}

.ui-icon-alert {
	background-position: 0 -144px;
}

.ui-icon-info {
	background-position: -16px -144px;
}

.ui-icon-notice {
	background-position: -32px -144px;
}

.ui-icon-help {
	background-position: -48px -144px;
}

.ui-icon-check {
	background-position: -64px -144px;
}

.ui-icon-bullet {
	background-position: -80px -144px;
}

.ui-icon-radio-on {
	background-position: -96px -144px;
}

.ui-icon-radio-off {
	background-position: -112px -144px;
}

.ui-icon-pin-w {
	background-position: -128px -144px;
}

.ui-icon-pin-s {
	background-position: -144px -144px;
}

.ui-icon-play {
	background-position: 0 -160px;
}

.ui-icon-pause {
	background-position: -16px -160px;
}

.ui-icon-seek-next {
	background-position: -32px -160px;
}

.ui-icon-seek-prev {
	background-position: -48px -160px;
}

.ui-icon-seek-end {
	background-position: -64px -160px;
}

.ui-icon-seek-start {
	background-position: -80px -160px;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
	background-position: -80px -160px;
}

.ui-icon-stop {
	background-position: -96px -160px;
}

.ui-icon-eject {
	background-position: -112px -160px;
}

.ui-icon-volume-off {
	background-position: -128px -160px;
}

.ui-icon-volume-on {
	background-position: -144px -160px;
}

.ui-icon-power {
	background-position: 0 -176px;
}

.ui-icon-signal-diag {
	background-position: -16px -176px;
}

.ui-icon-signal {
	background-position: -32px -176px;
}

.ui-icon-battery-0 {
	background-position: -48px -176px;
}

.ui-icon-battery-1 {
	background-position: -64px -176px;
}

.ui-icon-battery-2 {
	background-position: -80px -176px;
}

.ui-icon-battery-3 {
	background-position: -96px -176px;
}

.ui-icon-circle-plus {
	background-position: 0 -192px;
}

.ui-icon-circle-minus {
	background-position: -16px -192px;
}

.ui-icon-circle-close {
	background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
	background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
	background-position: -192px -192px;
}

.ui-icon-circle-check {
	background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
	background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
	background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
	background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
	background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}
/* Misc visuals----------------------------------*/ /* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 0px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 0px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 0px;
}
/* Overlays */
.ui-widget-overlay {
	background: #5c5c5c 50% 50% repeat-x;
	opacity: .8;
	filter: Alpha(Opacity = 80);
}

.ui-widget-shadow {
	margin: -7px 0 0 -7px;
	padding: 7px;
	background: #cccccc 50% 50% repeat-x;
	opacity: .6;
	filter: Alpha(Opacity = 60);
	border-radius: 8px;
}
/* Component Specific Styles */
.ui-panel.ui-widget-content {
	padding: 0;
	border-width: 2px;
}

.ui-panel.ui-widget-content .ui-panel-footer {
	border-top-width: 2px;
}

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield
	{
	border: 1px solid #D9D9D9;
	background: #FFFFFF;
	color: #222222;
}

.ui-inputfield.ui-state-hover, .ui-widget-content .ui-inputfield.ui-state-hover,
	.ui-widget-header .ui-inputfield.ui-state-hover {
	border: 1px solid #66B3FF;
}

.ui-inputfield.ui-state-disabled, .ui-widget-content .ui-inputfield.ui-state-disabled,
	.ui-widget-header .ui-inputfield.ui-state-disabled {
	background-color: #ccc;
}

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus,
	.ui-widget-header .ui-inputfield.ui-state-focus {
	border: 1px solid #7AC142;
}
/** TabView **/
.ui-tabs.ui-widget-content {
	padding: 0;
	border: 0;
}

.ui-tabs-nav {
	background: #FFFFFF;
}

.ui-tabs .ui-tabs-panels {
	border: 2px solid #D4D4D4;
}

.ui-tabs .ui-tabs-nav li.ui-state-default {
	border: 2px solid #D4D4D4;
}

.ui-tabs .ui-tabs-nav li.ui-state-hover {
	border: 2px solid #66B3FF;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
	background: #FFFFFF;
	color: #525252;
	border: 2px solid #D4D4D4;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a {
	color: #525252;
}

.ui-tabs .ui-tabs-nav li.ui-state-active .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_525252_0.png']}");
}

.ui-tabs.ui-tabs-top.ui-widget-content .ui-tabs-nav {
	padding: 0.2em 0.2em 0 0;
}

.ui-tabs.ui-tabs-top.ui-widget-content .ui-tabs-nav li {
	margin-bottom: -1px;
}

.ui-tabs.ui-tabs-bottom.ui-widget-content .ui-tabs-nav {
	padding: 0 0.2em 0.2em 0;
}

.ui-tabs.ui-tabs-bottom.ui-widget-content .ui-tabs-nav li {
	margin-top: -2px;
}

.ui-tabs.ui-tabs-left.ui-widget-content .ui-tabs-nav {
	padding-top: 0;
	border-right: 2px solid #D4D4D4;
}

.ui-tabs.ui-tabs-left.ui-widget-content .ui-tabs-nav li {
	margin-right: -2px;
}

.ui-tabs.ui-tabs-left.ui-widget-content .ui-tabs-panels {
	border: 0 none;
}

.ui-tabs.ui-tabs-right.ui-widget-content .ui-tabs-nav {
	padding-top: 0;
	border-left: 2px solid #D4D4D4;
}

.ui-tabs.ui-tabs-right.ui-widget-content .ui-tabs-nav li {
	margin-left: -2px;
}

.ui-tabs.ui-tabs-right.ui-widget-content .ui-tabs-panels {
	border: 0 none;
}

.ui-tabs.ui-tabs-scrollable .ui-tabs-navscroller {
	margin-bottom: -2px;
}

.ui-tabs.ui-tabs-scrollable.ui-tabs-top .ui-tabs-nav {
	padding: 0;
}

.ui-tabs.ui-tabs-scrollable.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected
	{
	border-bottom-color: transparent;
}
/** Accordion **/
.ui-accordion .ui-accordion-header.ui-state-default {
	border: 2px solid #D4D4D4;
}

.ui-accordion .ui-accordion-header.ui-state-hover {
	border: 2px solid #66B3FF;
}

.ui-accordion .ui-accordion-header.ui-state-active {
	background: #FFFFFF;
	color: #525252;
	border: 2px solid #D4D4D4;
	border-bottom: 0;
}

.ui-accordion .ui-accordion-header.ui-state-active a {
	color: #525252;
}

.ui-accordion .ui-accordion-header.ui-state-active .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_525252_0.png']}");
}

.ui-accordion-content.ui-widget-content {
	border: 2px solid #D4D4D4;
}
/** Dialog - Lightbox - OverlayPanel **/
.ui-dialog.ui-widget-content {
	border-width: 2px;
}

.ui-dialog .ui-dialog-titlebar-close, .ui-lightbox .ui-lightbox-close,
	.ui-overlaypanel .ui-overlaypanel-close {
	background-color: #B40404;
	border-color: #B40404;
}

.ui-dialog .ui-dialog-titlebar-close.ui-state-hover, .ui-lightbox .ui-lightbox-close.ui-state-hover,
	.ui-overlaypanel .ui-overlaypanel-close.ui-state-default.ui-state-hover
	{
	background-color: #DF0101;
	border-color: #DF0101;
}

.ui-overlaypanel .ui-overlaypanel-close .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
}
/** Menu **/
.ui-menu.ui-widget {
	padding: 0;
	border-width: 2px;
}

.ui-menu.ui-widget.ui-widget-content .ui-menu-list .ui-widget-header {
	margin: 0;
	width: 100%;
}

.ui-menu.ui-widget.ui-widget-content .ui-menuitem-link {
	padding: 0.3em 0;
	width: 100%;
	border-width: 1px 0px;
}

.ui-menu.ui-widget.ui-widget-content .ui-menuitem-link .ui-menuitem-icon
	{
	margin-left: 0.3em;
	margin-right: -0.2em;
}

.ui-menu.ui-widget.ui-widget-content .ui-menuitem-link .ui-menuitem-text
	{
	margin-left: 0.4em;
}

.ui-menubar.ui-widget {
	background: #7AC142;
}

.ui-menubar.ui-widget .ui-menuitem-link {
	color: #FFFFFF;
}

.ui-menubar.ui-widget .ui-menuitem-link .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
}

.ui-menubar.ui-widget .ui-menu-child .ui-menuitem-link {
	color: #525252;
}

.ui-menubar.ui-widget .ui-menu-child .ui-menuitem-link .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_525252_0.png']}");
}

.ui-menubar.ui-widget .ui-menu-child .ui-menuitem-link.ui-state-hover {
	color: #FFFFFF;
}

.ui-menubar.ui-widget .ui-menu-child .ui-menuitem-link.ui-state-hover .ui-icon
	{
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
}

.ui-menu.ui-menubar .ui-menu-parent .ui-menu-child, .ui-menu.ui-tieredmenu .ui-menu-parent .ui-menu-child,
	.ui-menu.ui-slidemenu .ui-menu-parent .ui-menu-child {
	padding: 0;
}

.ui-widget-content.ui-shadow, .ui-growl-item-container.ui-shadow {
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

.ui-panelmenu .ui-panelmenu-content.ui-widget-content {
	padding: 0;
	border: 2px solid #D4D4D4;
	border-top: 0;
}

.ui-panelmenu .ui-panelmenu-content.ui-widget-content .ui-menuitem-link
	{
	padding: 0.3em 0;
	width: 100%;
	border-width: 1px 0px;
}

.ui-panelmenu .ui-panelmenu-content.ui-widget-content .ui-menuitem-icon
	{
	margin-left: 0.3em;
	margin-right: -0.2em;
}

.ui-panelmenu .ui-panelmenu-content.ui-widget-content .ui-menuitem-text
	{
	margin-left: 0.4em;
}
/** SelectOneMenu **/
.ui-selectonemenu .ui-inputfield {
	background: #FFFFFF;
}

.ui-selectonemenu.ui-state-hover .ui-inputfield, .ui-selectonemenu.ui-state-focus .ui-inputfield
	{
	color: #525252;
}

.ui-selectonemenu-panel.ui-widget-content .ui-selectonemenu-list {
	padding: 0;
}
/** Calendar **/
.ui-datepicker.ui-widget-content {
	padding: 0;
	border-width: 2px;
}

.ui-datepicker.ui-widget-content td {
	
}

.ui-datepicker.ui-widget-content td a.ui-state-default {
	background-color: #FFFFFF;
	border: 0;
}

.ui-datepicker.ui-widget-content td a.ui-state-hover {
	background: #66B3FF;
	color: #FFFFFF;
}

.ui-datepicker.ui-widget-content td a.ui-state-highlight {
	background: #FFC40D;
	color: #FFFFFF;
}

.ui-datepicker.ui-widget-content td a.ui-state-active {
	background: #7AC142;
	color: #FFFFFF;
}

.ui-datepicker.ui-widget-content table {
	margin-bottom: 0;
}
/** Listbox **/
.ui-selectonelistbox.ui-widget-content {
	padding: 0;
}

.ui-selectonelistbox.ui-widget-content .ui-selectlistbox-item,
	.ui-selectmanymenu.ui-widget-content .ui-selectlistbox-item,
	.ui-multiselectlistbox.ui-widget-content .ui-multiselectlistbox-item {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 2px;
}
/** DataTable - TreeTable **/
.ui-datatable tr.ui-widget-content, .ui-treetable tr.ui-widget-content {
	border-color: #D4D4D4;
}

.ui-datatable tr.ui-widget-content.ui-state-hover td, .ui-treetable tr.ui-widget-content.ui-state-hover td
	{
	border-color: #D4D4D4;
}

.ui-datatable.ui-datatable-scrollable .ui-datatable-scrollable-header.ui-widget-header,
	.ui-datatable.ui-datatable-scrollable .ui-datatable-scrollable-footer.ui-widget-header
	{
	background-color: #D4D4D4;
}

.ui-datatable select.ui-column-filter.ui-state-default {
	background-color: #FFFFFF;
	color: #525252;
}
/** Overlay Panel **/
.ui-overlaypanel.ui-widget-content {
	border-width: 2px;
}
/** TabMenu **/
.ui-tabmenu.ui-widget-content {
	padding: 0;
	border: 0;
}

.ui-tabmenu-nav {
	background: #FFFFFF;
}

.ui-tabmenu .ui-tabmenu-nav li.ui-state-default {
	border: 2px solid #D4D4D4;
}

.ui-tabmenu .ui-tabmenu-nav li.ui-state-hover {
	border: 2px solid #66B3FF;
}

.ui-tabmenu .ui-tabmenu-nav li.ui-state-active {
	background: #FFFFFF;
	color: #525252;
	border: 2px solid #D4D4D4;
	border-bottom-color: transparent;
}

.ui-tabmenu .ui-tabmenu-nav li.ui-state-active a {
	color: #525252;
}

.ui-tabmenu .ui-tabmenu-nav li.ui-state-active .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_525252_0.png']}");
}
/** Growl **/
.ui-growl-item-container.ui-state-highlight {
	background-color: #00A300;
}
/** Tree **/
.ui-tree.ui-widget-content .ui-treenode-label {
	margin: 2px 0 0 2px;
}

.ui-tree.ui-tree-horizontal .ui-chkbox .ui-chkbox-box {
	border: 1px solid #7AC142;
	background: #7AC142;
}

.ui-tree.ui-tree-horizontal .ui-chkbox .ui-chkbox-box .ui-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
}
/** Checkbox **/
.ui-datatable tr.ui-widget-content .ui-chkbox .ui-chkbox-box.ui-state-hover,
	.ui-treetable tr.ui-widget-content .ui-chkbox .ui-chkbox-box.ui-state-hover,
	.ui-picklist .ui-picklist-item .ui-chkbox .ui-chkbox-box.ui-state-hover,
	.ui-selectmanymenu .ui-selectlistbox-item .ui-chkbox .ui-chkbox-box.ui-state-hover
	{
	background: none repeat scroll 0 0 #D4D4D4;
	border: 1px solid #D4D4D4;
	color: #525252;
}

.ui-treetable tr.ui-widget-content.ui-state-highlight .ui-chkbox .ui-chkbox-box
	{
	border: 1px solid #7AC142;
	background: #7AC142;
	color: #FFFFFF;
}
/** AutoComplete **/
.ui-autocomplete-panel.ui-widget-content .ui-autocomplete-list {
	padding: 0px;
}

/*https://developer.android.com/design/style/color.html*/

/*VERDE: #7AC142*/

/********** PERSONALIZACIÓN **************/

/*
TIPOGRAFIA
*/
body, .ui-paginator, #cuerpoPpal .ui-tabs .ui-tabs-nav li, .ui-widget input,
	.ui-widget select, .ui-widget textarea, .ui-widget button, .ui-button.ui-widget
	{
	font-family: "fuente1"
}

.ui-panelgrid-header, .ui-widget-header, .ui-growl-title, #cuerpoPpal .ui-widget  .ui-wizard-step-title,
	#cuerpoPpal .ui-steps.ui-widget, .ui-fieldset .ui-fieldset-legend, h1,
	h2, h3, h4 {
	font-family: "fuente2"
}

.ui-widget {
	font-size: 12px
}

/*
COLORES
*/
/*Texto color generico*/
.ui-widget-content {
	color: #4a4a4a
}

/*hover en elementos*/
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{ /*background-color:#79C142*/
	background-color: #c3eaa5;
	color: #000000
}

/* elemento marcado*/
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,
	.ui-widget-header .ui-state-highlight a {
	color: #1E1E1E
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight, #cuerpoPpal span.ui-paginator-page.ui-state-active.ui-state-default
	{
	background-color: #C6E844 /*#E79900#B20000 #E89F0C*/;
	color: #1E1E1E
}

#cuerpoPpal span.ui-paginator-page.ui-state-active.ui-state-default {
	border-color: #E79900 /*#C6E844*/;
}

/*cabeceras*/
.ui-widget-header {
	background: transparent; /*border:none; */
	color: #7AC142; /*text-shadow:0 1px 1px rgba(0, 0, 0, .1)*/
}

.ui-widget-header {
	font-size: 17px;
	border-width: 0 0 1px;
	border-bottom: 1px solid #484848;
	padding: .4em .4em .4em 1em;
}

.ui-menubar.ui-widget {
	border-width: 0;
	background-color: #484848
}

/*
BORDES
*/
/*.ui-dialog.ui-widget-content,*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight, .ui-panel.ui-widget-content,
	.ui-widget-content, /*.ui-widget-content,*/ .ui-wizard-step-title.ui-state-default
	{
	border-width: 0
}

.ui-widget-content {
	border-color: #7AC142;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
	{
	background: #7AC142;
	border: 1px solid #7AC142;
}

.ui-dialog.ui-widget-content, .ui-widget-content.ui-selectonemenu-panel
	{
	border: 1px solid #929292
}

/*
CABECERAS - TITULOS
*/
.ui-dialog .ui-dialog-titlebar {
	padding: 0.1em 0.4em
}

#cuerpoPpal .ui-dialog .ui-dialog-title {
	margin: 0
}

#cuerpoPpal .ui-dialog .ui-dialog-titlebar {
	padding: 0.4em 1em
}

/*
MENU PPAL
*/
#menuPpal .ui-menu {
	width: 100%
}

#menuPpal  .ui-menu-icon.ui-icon.ui-icon-carat-1-e {
	display: none
}

#menuPpal .ui-menu>.ui-menu-list>.ui-menuitem {
	padding: 0 9px;
}

.ui-menu.ui-widget.ui-widget-content .ui-menuitem-link {
	padding: 0.5em 0
}

.ui-menu.ui-widget.ui-widget- .ui-menu-child .ui-menuitem-link {
	padding: 0.5em 0 0.5em .5em;
}

#menuPpal .ui-menu .ui-menuitem-text, #menuPpal .ui-menu .ui-menuitem-link .ui-menuitem-icon
	{
	float: none;
	display: inline-block;
	vertical-align: middle;
}
/*#menuPpal { border-bottom:3px solid*/ /*#669900*/ /*#7AC142}*/
#menuPpal>.ui-menu>ul.ui-menu-list>li {
	border-left: 1px solid #989898
}

#menuPpal ul.ui-menu-list>li:first-child {
	border-left: none
}

#menuPpal .ui-state-hover, #menuPpal ul.ui-menu-list li li a:hover,
	#menuPpal ul.ui-menu-list li li a:focus {
	background-color: #777777
}

#menuPpal ul.ui-menu-list li li a:hover .ui-icon.ui-icon-triangle-1-e {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
}

#menuPpal .ui-menubar.ui-widget .ui-menu-child .ui-menuitem-link .ui-icon
	{
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/ui-icons_ffffff_0.png']}");
}

#menuPpal ul.ui-menu-child {
	z-index: 200;
	min-width: 200px
}

#menuPpal .ui-shadow {
	box-shadow: none
}

#menuPpal  .ui-menu>ul.ui-menu-list>li {
	position: relative
}
/*ultima opcion*/
#menuPpal  .ui-menu>ul.ui-menu-list>li:last-child {
	font-size: 0.9em;
}

#menuPpal  .ui-menu>ul.ui-menu-list>li:last-child .ui-menuitem-text {
	padding-bottom: 0.25em;
	padding-top: 0.25em
}

#menuPpal  .ui-menu>ul.ui-menu-list>li:last-child.ui-menuitem.ui-menu-parent.ui-state-focus span
	{
	color: #7ac142
}

#menuPpal  .ui-menu>ul.ui-menu-list>li:last-child.ui-menuitem.ui-menu-parent.ui-state-focus .ico-catal
	{
	background-position: -27px -130px
}

#pagina #menuPpal ul.ui-menu-child ul.ui-menu-child {
	left: 100% !important;
	margin-left: 2px;
	margin-top: -1px;
	top: 0 !important
}

#pagina #menuPpal .ui-menuitem.ui-menu-item.ui-state-active, #pagina #menuPpal .ui-menuitem.ui-menu-item.ui-state-focus
	{
	background-color: #484848
}

#pagina #menuPpal .ui-menu.ui-widget {
	border: none
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover,
	.ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	{ /*background-color:#79C142*/
	background-color: #c3eaa5;
	color: #000000
}

/* Iconos */
#menuPpal .ui-menuitem-icon {
	background-image: url(../img/icos_menu.png);
	width: 21px;
	height: 21px;
}

.ico-geog {
	background-position: 0 0
}

.ico-nogeog {
	background-position: 0 -34px
}

.ico-cpsn {
	background-position: 0 -66px
}

.ico-cpsi {
	background-position: 0 -98px
}

.ico-catal {
	background-position: 0 -130px
}

.ico-repor {
	background-position: 0 -164px
}

a.ui-menuitem-link:hover .ui-menuitem-text, a.ui-menuitem-link:focus .ui-menuitem-text
	{
	color: #7AC142
}

a:hover .ico-geog, a:focus .ico-geog {
	background-position: -28px 0
}

a:hover .ico-nogeog, a:focus .ico-nogeog {
	background-position: -27px -34px
}

a:hover .ico-cpsn, a:focus.ico-cpsn {
	background-position: -27px -66px
}

a:hover .ico-cpsi, a:focus .ico-cpsi {
	background-position: -27px -98px
}

a:hover .ico-catal, a:focus .ico-catal {
	background-position: -27px -130px
}

a:hover .ico-repor, a:focus .ico-repor {
	background-position: -27px -164px
}

/* Submenu */
#menuPpal ul.ui-menu-child {
	background-color: #484848;
	padding: 2px;
	margin-left: 8px;
}

#menuPpal ul.ui-menu-child ul.ui-menu-child {
	margin-top: 0;
	margin-left: 2px;
}

#menuPpal ul.ui-menu-child li a {
	font-size: .86em
}

#menuPpal .ui-menubar.ui-widget .ui-menu-child .ui-menuitem-link {
	color: #FFF
}

#menuPpal ul.ui-menu-child .ui-menuitem {
	margin-top: 0;
	margin-bottom: 0;
	border-top: 1px solid #6C6C6C
}

#menuPpal ul.ui-menu-child .ui-menuitem:first-child {
	border-top: none;
}
/*
DIALOGOS
*/
#cuerpoPpal .ui-dialog-content.ui-widget-content {
	padding: 1.5em
}

/*
AVISOS
*/
#cuerpoPpal .ui-growl-title {
	font-size: 16px
}

/*
CURSOR - ELEMENTOS DESHABILIDATOS
*/
#cuerpoPpal .ui-state-disabled, #cuerpoPpal .ui-state-disabled span,
	.ui-dialog .ui-state-disabled, .ui-dialog .ui-state-disabled span {
	cursor: not-allowed !important
}

#cuerpoPpal .ui-state-disabled.ui-button:hover, #cuerpoPpal .ui-state-disabled.ui-button:focus,
	.ui-dialog .ui-state-disabled.ui-button:hover, .ui-dialog .ui-state-disabled.ui-button:focus
	{
	color: #525252
}

/*
TABLAS
*/
/* Genericas */
#cuerpoPpal table {
	margin: auto
}

#cuerpoPpal table td {
	padding: .5em
}

.ui-datatable-tablewrapper th, .ui-datatable-tablewrapper th.ui-state-default
	{
	vertical-align: middle;
	background-color: #d3d3d3;
	color: #414141;
	border-top: 0;
	font-size: 1. .4em
}

#cuerpoPpal .ui-datatable-tablewrapper td+td {
	border-left-style: dotted
}

#cuerpoPpal .ui-datatable .ui-row-editor span {
	float: none
}

#cuerpoPpal .ui-datatable .ui-row-editor span+span, #cuerpoPpal .ui-datatable .ui-row-editor a+span,
	#cuerpoPpal .ui-datatable .ui-row-editor a+a, #cuerpoPpal .ui-datatable .ui-row-editor span+a
	{
	margin-left: 7px
}

/* Datatables */
.ui-datatable .ui-datatable-header.ui-widget-header {
	text-align: left;
}

.ui-datatable .ui-row-editor span {
	display: inline-block
}

/*
PAGINACION
*/
#cuerpoPpal .ui-paginator.ui-paginator-top.ui-widget-header, .ui-dialog .ui-paginator.ui-paginator-top.ui-widget-header
	{ /*border-top:1px solid #E1E4DA;*/
	padding: 5px
}

#cuerpoPpal .ui-paginator.ui-paginator-bottom.ui-widget-header,
	.ui-dialog .ui-paginator.ui-paginator-bottom.ui-widget-header {
	border-bottom: none /*1px solid #E1E4DA; */;
	padding: 5px
}

#cuerpoPpal .ui-paginator, .ui-dialog .ui-paginator {
	font-size: .9em
}

#cuerpoPpal span.ui-paginator-page.ui-state-default, #cuerpoPpal span.ui-paginator-next,
	#cuerpoPpal span.ui-paginator-last, #cuerpoPpal span.ui-paginator-prev,
	#cuerpoPpal span.ui-paginator-first, .ui-dialog span.ui-paginator-page.ui-state-default,
	.ui-dialog span.ui-paginator-next, .ui-dialog span.ui-paginator-last,
	.ui-dialog span.ui-paginator-prev, .ui-dialog span.ui-paginator-first {
	background-color: #7ac142;
	border-color: #7ac142;
	font-weight: normal
}

#cuerpoPpal span.ui-paginator-page.ui-state-default.ui-state-active,
	.ui-dialog span.ui-paginator-page.ui-state-default.ui-state-active {
	font-weight: bold
}

.ui-paginator.ui-widget-header {
	min-height: 26px
}

.ui-paginator-first, .ui-paginator-next, .ui-paginator-last,
	.ui-paginator-prev {
	min-height: 16px
}

/*
PESTAÑAS
*/
#cuerpoPpal .ui-tabs-selected {
	
}

#cuerpoPpal .ui-tabs .ui-tabs-panels, #cuerpoPpal .ui-tabs .ui-tabs-nav li
	{
	border-width: 1px
}

#cuerpoPpal .ui-tabs.ui-widget-content {
	background-color: transparent
}

#cuerpoPpal .ui-tabs.ui-widget-content .ui-tabs-panels {
	background-color: #FFFFFF
}

#cuerpoPpal .ui-tabs .ui-tabs-nav li a {
	padding: 1em;
}

#cuerpoPpal .ui-widget-content {
	
}

#cuerpoPpal .ui-tabmenu-nav {
	font-size: 18px;
	letter-spacing: .02em;
}

#cuerpoPpal .ui-tabmenu .ui-tabmenu-nav li.ui-state-active {
	border-width: 1px;
	padding: 1px 0;
}

/**************************** CAMPOS FORMULARIO ****************************/
input[type="text"], input[type="password"], .ui-inputfield,
	.ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
	padding: .3em;
	box-shadow: 0 1px 1px #D7D7D7 inset;
	background: #ffffff;
	border: 1px solid #d9d9d9;
	color: #222222
}

/*Cambio color focus*/
input[type="text"]:focus, input[type="password"]:focus, textarea:focus,
	.ui-inputfield:focus, .ui-widget-content .ui-inputfield:focus,
	.ui-widget-header .ui-inputfield:focus {
	border-color: #7AC142
}

label {
	background:
		url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAEAQMAAACTPww9AAAAA3NCSVQICAjb4U/gAAAABlBMVEV6wUL////qCOCnAAAACXBIWXMAAAsSAAALEgHS3X78AAAAFnRFWHRDcmVhdGlvbiBUaW1lADAxLzE5LzE1kbNPIAAAABh0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzT7MfTgAAAAtJREFUCJljYIAAAAAIAAGvU+oiAAAAAElFTkSuQmCC")
		0 .56em no-repeat;
	padding-left: 8px
}

#cuerpoPpal .ui-selectoneradio label, #cuerpoPpal label.ui-selectonemenu-label
	{
	background-image: none;
	padding-left: 0;
}

#cuerpoPpal label.ui-selectonemenu-label {
	background-image: none;
	background-color: #FFF;
	padding-left: 5px;
}

/*Select*/
#cuerpoPpal .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 5px
}

.ui-selectmenu-menu {
	border: 1px solid #929292;
	font-family: fuente1
}

.ui-selectmenu-menu li {
	list-style: none
}

.ui-selectmenu-menu .ui-widget-content {
	border: none
}

.ui-button, .ui-state-default.ui-button, input[type="submit"], input[type="button"],
	input[type="reset"] {
	background-color: #7AC142;
	border: none;
	color: #525252;
	font-weight: bold
}

input[type="submit"], input[type="submit"].ui-state-default {
	padding: 0.5em 1em
}

.ui-button:hover, #cuerpoPpal .ui-button:focus {
	color: #FFF
}

button .ui-button-text, button  .ui-button-text-icon-left.ui-button-text
	{
	padding-top: .5em !important;
	padding-bottom: .5em !important;
}

.ui-button-text-icon-left {
	padding-left: 1em;
}

.ui-inputtextarea-resizable {
	overflow: auto;
}

/*Campos de archivo*/
.fileupload-buttonbar {
	text-align: center;
}

.fileupload-buttonbar .ui-button input {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: transparent;
	border-image: none;
	border-style: solid;
	border-width: 0 0 100px 200px;
	cursor: pointer;
	direction: ltr;
	margin: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 5000
}

.fileinput-button.ui-button-text-icon-left .ui-button-text {
	padding-bottom: 0.5em !important;
	padding-top: 0.5em !important
}

/**************************** FIELSET-GRUPOS DE CAMPOS ****************************/
fieldset.ui-widget-content, .grupoCampos {
	border: 1px solid #d4d4d4;
	background-color: #F8F8F8
}

.ui-fieldset .ui-fieldset-legend.ui-state-default {
	text-align: left;
	font-size: 17px;
	background-color: #F8F8F8;
	border-color: #d4d4d4;
	display: block;
	color: #7AC142;
	padding: .2em .5em !important
}

/**************************** WIZARD ****************************/
.ui-wizard-step-title {
	
}

.ui-wizard .ui-wizard-content {
	border: 1px solid #7ac142;
	padding: 1.5em;
	margin-top: 0
}

.ui-wizard-navbar {
	clear: both;
	margin: 15px 0 0 /*Como botonera*/
}

/**************************** PASOS ****************************/
#cuerpoPpal .ui-steps {
	display: table;
	width: auto;
	margin: auto;
	border-collapse: collapse;
}

#cuerpoPpal .ui-steps ul {
	display: table-row
}

#cuerpoPpal .ui-steps li {
	float: none;
	display: table-cell;
	border: 1px solid #525252;
	border-collapse: collapse;
}

#cuerpoPpal .ui-steps .ui-steps-title {
	font-size: 18px;
	font-weight: bold;
	margin-left: 0;
	letter-spacing: .02em;
}

#cuerpoPpal .ui-steps .ui-steps-number {
	line-height: .8
}

/**************************** ICONOS MENSAJES ****************************/
#cuerpoPpal .ui-growl-image, #cuerpoPpal  .ui-messages-info-icon,
	#cuerpoPpal.ui-messages-warn-icon, #cuerpoPpal.ui-messages-error-icon,
	#cuerpoPpal .ui-messages-fatal-icon, #cuerpoPpal .ui-message-info-icon,
	#cuerpoPpal .ui-message-warn-icon, #cuerpoPpal .ui-message-error-icon,
	#cuerpoPpal .ui-message-fatal-icon {
	background-image:
		url("#{resource['primefaces-sns-frontend-tema:images/messages.png']}");
}

/**************************** DIALOGOS ****************************/
.ui-widget-overlay {
	position: fixed !important
}

.ui-dialog {
	z-index: 100;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	font-size: 12px /*1.3em;*/
}

.ui-dialog .ui-dialog-content {
	padding: 1em
}

.ui-widget-overlay {
	background-color: #D9D9D9
}

#pagina .ui-button-icon-only {
	
}

.ui-dialog .ui-dialog-titlebar  .ui-dialog-title {
	float: none;
	text-align: center;
	margin: 0;
	padding-top: 3px;
	display: inline-block
}

.ui-dialog .ui-dialog-titlebar .ui-button-icon-only.ui-icon {
	left: auto
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close
	{
	background-color: #b40404;
	border: 1px solid #b40404;
/* 	height: 21px; */
}

/* .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close .ui-button-icon-primary.ui-icon.ui-icon-closethick
	{
	background-image: url(images/ui-icons_ffffff_0.png);
	top: 1px;
	left: 1px;
	height: 21px;
} */

/* .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only.ui-dialog-titlebar-close
	{
	width: 21px !important
} */
/*Aquí se toca para el color de fondo del dialog*/
.ui-dialog .ui-dialog-titlebar.ui-widget-header {
	text-align: center;
	padding: 0.5em;
	background: #d3d3d3;
}

.ui-button-icon-only .ui-button-text {
	padding: 0 !important
}

/**************************** SELECTS ****************************/

/**************************** CLEARFIX ****************************/
#cuerpoPpal .ui-helper-clearfix:after, .ui-dialog  .ui-helper-clearfix:after
	{
	content: ''
}

/**************************** WIZARD ****************************/
.ui-dialog .ui-wizard {
	
}

.customCloseModal.ui-state-default.ui-button {
	color: white;
	padding: 0;
	margin: 0;
	font-size: 10px;
	CURSOR: POINTER;
	background-color: #B40404;
	position: absolute;
	right: 2.1%;
	top: 2.5%;
	font-size: 0.8rem;
}

.customCloseModal.ui-state-default.ui-button:hover {
	background-color: #DF0101;
	/* font-size: 0.75rem; */
}

.customCloseModal.ui-state-default.ui-button .ui-button-text.ui-c {
	text-align: center;
	padding: 5px;
	padding-bottom: 1px !important;
	padding-top: 1px !important;
	font-weight: bolder;
	cursor: pointer;
}
.sombreado{
		box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}
.mycustompanel {
	background: transparent;
	margin: 0px;
}

.mycustomgrid {
	margin-bottom: 1rem;
}

.mycustomgrid tr {
	height: 45px;
	font-size: 0.9rem;
}

.mycustomgrid.ui-panelgrid  .ui-panelgrid-header {
	background: #eee;
	border: 1px solid #D4D4D4;
	border-bottom: 0px;
	display: inline-block;
	padding: 10px;
}

.mycustomgrid.ui-panelgrid  .ui-panelgrid-footer {
	background: white;
	border: 1px solid #D4D4D4;
	display: inline-block;
	padding: 10px;
	color: #4A4A4A;
	font-family: fuente1;
}

.mycustomgrid .ui-widget-content {
	border: 1px solid #D4D4D4;
}
.mycustomgridMapa {
	margin-bottom: 1rem;
}

.mycustomgridMapa tr {
	height: 45px;
	font-size: 0.9rem;
}

.mycustomgridMapa.ui-panelgrid  .ui-panelgrid-header {
	background: #eee;
	border: 1px solid #D4D4D4;
	border-bottom: 0px;
	display: inline-block;
	padding: 10px;
}

.mycustomgridMapa.ui-panelgrid  .ui-panelgrid-footer {
	background: white;
	border: 1px solid #D4D4D4;
	display: inline-block;
	padding: 10px;
	color: #4A4A4A;
	font-family: fuente1;
}

.mycustomgridMapa .ui-widget-content {
	border: 1px solid #D4D4D4;
	background: #F8F8F8;
	padding: 10px
}

.mycustomgrid2 {
	margin-bottom: 1rem;
	width:100%;
}

.mycustomgrid2 tr {
	height: 45px;
	font-size: 0.9rem;
}

.mycustomgrid2.ui-panelgrid  .ui-panelgrid-header {
	background: #eee;
	border: 1px solid #D4D4D4;
	border-bottom: 0px;
	display: inline-block;
	padding: 10px;
}

.mycustomgrid2.ui-panelgrid  .ui-panelgrid-footer {
	background: white;
	border: 1px solid #D4D4D4;
	display: inline-block;
	padding: 10px;
	color: #4A4A4A;
	font-family: fuente1;
	width: 100%;
	padding: 0;
}

.mycustomgrid2.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
	border: 1px solid #D4D4D4;
	border-top: none;
}


.mycustomgrid2 .ui-widget-content {
	border: 1px solid #D4D4D4;
}

.mycustomgridlogin {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.mycustomgridlogin.ui-panelgrid  .ui-panelgrid-header {
	background: white;
	border: 1px solid #D4D4D4;
	border-bottom: 2px;
	padding-top: 20px;

}

.mycustomgridlogin .ui-widget-content {
	border: 1px solid #D4D4D4;
	background: #F8F8F8;
}

@media ( max-width : 890px) {
	.mycustomgrid .ui-grid-responsive .ui-grid-col-3 {
		width: 100%;
		float: none;
	}
	.mycustomgrid2 .ui-grid-responsive .ui-grid-row {
		display: block;
	}
}

.mycustomtable.ui-datatable .ui-datatable-header.ui-widget-header {
	background: #eee;
	text-align: center;
	border: 1px solid #D4D4D4;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mycustomtable.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
	border: 1px solid #D4D4D4;
	border-top: none;
}

.mycustomtable.ui-panelgrid .ui-panelgrid-header {
	background: #eee;
	border: 1px solifont-size: 1rem;
	font-size: 1rem;
}

.mycustomtablesa {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.mycustomtablesa.ui-datatable .ui-datatable-header.ui-widget-header {
	background: #eee;
	text-align: center;
	border: 1px solid #D4D4D4;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mycustomtablesa.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell {
	border: 1px solid #D4D4D4;
	border-top: none;
}

.mycustomtablesa.ui-panelgrid .ui-panelgrid-header {
	background: #eee;
	border: 1px solifont-size: 1rem;
	font-size: 1rem;
}

.mycustombreadcrumb.ui-breadcrumb ul li a {
	color: #4a4a4a;
	text-decoration: none;
	font-weight: normal;
	font-family: fuente;
}

.mycustombreadcrumb.ui-breadcrumb ul li:first-child a {
	background-image: none;
	text-indent: 0;
	display: block;
	height: 21px;
	width: auto;
	margin-top: 3px;
	overflow: hidden;
	position: relative;
}

.mycustombreadcrumb.ui-widget-header {
	border-bottom: none;
}

.sectionTitle {
	background: #484848;
	color: white;
	margin: 0 auto;
	border-radius: 4px;
	padding: 10px;
	margin: 10px;
	float: left;
}

::-moz-selection { /* Code for Firefox */
	background: #C6E844;
}

::selection {
	background: #C6E844;
}

.ui-datatable tbody td.column-with-table {
	padding: 0px;
}

.column-with-table table thead tr {
	display: none;
	border-top: 0px;
}

.column-with-table tbody td {
	border-right: none;
	border-left: none;
}

.column-with-table tbody td:first-child {
	border-top: none;
}

.column-with-table tbody tr:only-child td {
	border-bottom: none;
}

.nirs {
	margin-left: 10px;
	display: inline-block;
}

#menuPpal .withoutArrow .ui-icon.ui-icon-triangle-1-s {
	display: none;
}

.greenText {
	color: #7AC142;
}